:root {
    --background-gradient: linear-gradient(0deg, rgb(115, 203, 203) 0%, rgb(139, 113, 158) 100%);
    --background-gradient2: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(17, 67, 87, 1) 100%);
    --background-gradient1: linear-gradient(0deg, rgba(242, 148, 146, 1) 0%, rgba(17, 67, 87, 1) 100%);
    
    --bg-body-wrapper: rgb(0, 0, 0, 0.5);

    --theme-color1: rgb(255, 255, 255);
    --theme-color1-dark: rgb(172, 172, 172);
    --theme-color2: rgb(255, 255, 255);
    --theme-color3: rgb(106, 235, 106);
    --theme-color3-dark: rgb(66, 144, 66);
    --theme-color4: rgb(16, 42, 56);
    
    --theme-alert-color: rgba(255, 0, 0);
    --theme-alert-color-dark: rgba(255, 0, 0);

    --font-xsmall: 10px;
    --font-small: 11px;
    --font-medium: 14px;
    --font-xlarge: 28px;

    --border-radius-small: 18px;
    --border-radius-medium: 25px;
}


